.thank-view-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding: 20px;
}
.heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 26px;
  text-align: center;
}
.nav-link {
  text-decoration: none;
}
.button {
  background-color: #0b69ff;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 42px;
  }
  .button {
    font-size: 20px;
  }
}
